
<!-- renvoie au modèle d'affichage d'élément dans element.html-->
<div class="d-flex flex-column gap-2 mt-2" id="elements">

    {% for element in elements %}
        {% include 'elements/element.html' with element=element %}
    {% endfor %}

</div>

<!-- link for delete list -->
<div class="mt-2 text-center">
    {% if list.slug != "_default" %}

        <a href="{% url 'delete-list' list.pk %}" class="btn btn-danger" onclick="return confirm('Es-tu sûr de vouloir supprimer cette list ?')">Supprimer le collection</a>

    {% endif %}
</div>